body {
  overflow-x: hidden;
  background: black;
}

.row {
  color: white;
  border-style: solid;
  border-color: #002a4a;
  border-width: thin;
  margin-left: 20px;
  min-height: 30vh;
  margin-top: 0px;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
.search {
  width: 1650px;
  height: 50px;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: #d4ecff;
  border: 2px solid #002a4a;
}

.header {
  color: white;
  display: flex;
  border: 3px solid #002a4a;
  margin-top: 1px;
}

img {
  margin-right: 100px;
}

.search-button {
  height: 55px;
  width: 150px;
  background-color: #d4ecff;
  color: #002a4a;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #8bcafc;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 5px;
}
